<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
     <!-- Vuejs -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
     <!-- Bulma Css -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
     <!-- font Aws -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
     <!-- Style -->
     <link rel="stylesheet" href="style.css">
     <!-- google font -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo:wght@400&display=swap" rel="stylesheet"> 
     
</head>
<body>
    <div id="form-data" class="container" >
        
        <section v-if="steps==1" style="margin-top:10px ;">
            <h1 class="title">Booking</h1>
            <p class="subtitle" >{{ error }}</p>
            <div class="fieldd">
                <label class="label ">Patient Name :</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-rounded is-medium is-info" v-model="bookingData.name" type="text"  >
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                    
                  </div>
            </div>
            <div class="field">
                <label class="label "> Date :</label>
                <div class="control has-icons-left has-icons-left">
                    <input type="date" v-model="bookingData.appDate" class="input is-rounded is-medium is-info"   placeholder="Patient Name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-calendar-alt"></i>
                     </span>
                </div>
            </div>
            <div class="field">
                <label class="label ">From Time :</label>
                <div class="control has-icons-left has-icons-right">
                    <input type="time"  v-model="bookingData.appTime" class="input is-rounded is-medium is-info"   placeholder="Patient Name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-clock"></i>
                     </span>
                </div>

            </div>
            <div class="field">
                <label class="label ">Til Time :</label>
                <div class="control has-icons-left has-icons-right">
                    <input type="time" v-model="bookingData.appTimeS" class="input is-rounded is-medium is-info"   placeholder="Patient Name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-clock"></i>
                     </span>
                </div>
              
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-success" v-on:click.prevent="nextStep" > Submit</button>
                    </div>
    
                </div>
            </section>
       
            <section v-if="steps==2">
                <!-- heading -->
             
             <div class="show-content">
                 
                <!-- <h1 style="text-align: center;" class="title is-primary ">Appointment Confirmed</h1>
                <p style="float: right;">
                    <button v-on:click.prevent="printData"  class="button" style="border: 0;">
                        <span class="icon">
                            <i class="fas fa-print"></i>

                        </span>
                       
                     </button>
                 </p> -->
                 <div class="head">
                    <div>
                      <img src="index.png" style="background-color: aquamarine;" alt="logo_img" width="122" height="28">
                    </div>
                    <div class="heading">
                      <h2><strong>Appointment Confirmed</strong> </h2>
                    </div>
                    <div class="print">
                      <p>
                        <button v-on:click.prevent="printData"  class="button" style="border: 0;">
                            <span class="icon">
                                <i class="fas fa-print"></i>
    
                            </span>
                           
                         </button>
                     </p>
                    </div>
                 </div>
                 <!-- <nav class="navbar is-light" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="nav-item" href="#">
                            <img src="index.png" style="background-color: aquamarine;" alt="logo_img" width="122" height="28">
                        </a>
                  
                     
                    </div>
                  
                    <div id="navbarBasicExample" class="navbar-menu">
                      <div class="navbar-start" style="margin-left: 80px;">
                        <a class="navbar-item">
                         
                        
                        <a class="navbar-item">
                            Appointment Confirmed
                        </a>
                      
                      </div>
                  
                      <div class="navbar-end">
                        <div class="navbar-item">
                            <p>
                                <button v-on:click.prevent="printData"  class="button" style="border: 0;">
                                    <span class="icon">
                                        <i class="fas fa-print"></i>
            
                                    </span>
                                   
                                 </button>
                             </p>
                        </div>
                      </div>
                    </div>
                  </nav> -->
                <hr>
                <div class="columns is-vcentered">
                  <div class="column is-4">
                    <p class="bd-notification">Doctor :</p>
                  </div>
                  <div class="column">
                    <p class="bd-notification "> <strong>Dr.Rajashree Fadnavis</strong></p>
                  </div>
                </div>
                <!-- <div class="columns is-vcentered">
                  <div class="column is-4">
                    <p class="bd-notification">MPTH :</p>
                  </div>
                  <div class="column">
                    <p class="bd-notification "> <strong>Certified Aquatic Therapist</strong></p>
                  </div>
                </div>
                <div class="columns is-vcentered">
                  <div class="column is-4">
                    <p class="bd-notification">OTPT Registration No :</p>
                  </div>
                  <div class="column">
                    <p class="bd-notification "> <strong>2012/08/PT/002486</strong></p>
                  </div>
                </div> -->
                <div class="columns is-vcentered">
                    <div class="column is-4">
                      <p class="bd-notification">Patien Name :</p>
                    </div>
                    <div class="column">
                      <p class="bd-notification "> <strong>{{ bookingData.name }}</strong></p>
                    </div>
                  </div>
                  <div class="columns is-vcentered">
                    <div class="column is-4">
                      <p class="bd-notification">Appointment Date :</p>
                    </div>
                    <div class="column">
                      <p class="bd-notification "> <strong>{{ bookingData.appDate }}</strong></p>
                    </div>
                  </div>
                  <div class="columns is-vcentered">
                    <div class="column is-4">
                      <p class="bd-notification">Time Start :</p>
                    </div>
                    <div class="column">
                      <p class="bd-notification "> <strong>{{ bookingData.appTime }}</strong> </p>
                    </div>
                  </div>
                  <div class="columns is-vcentered">
                    <div class="column is-4">
                      <p class="bd-notification">Time End :</p>
                    </div>
                    <div class="column">
                      <p class="bd-notification "> <strong>{{ bookingData.appTimeS }}</strong> </p>
                    </div>
                  </div>
                  <div class="columns is-vcentered">
                    <div class="column is-4">
                      <p class="bd-notification"> Status :</p>
                    </div>
                    <div class="column">
                      <p class="bd-notification "> <strong>Confirmed</strong></p>
                    </div>
                  </div>
                  <!-- <div class="columns is-vcentered">
                    <div class="column is-4">
                      <p class="bd-notification"> Address :</p>
                    </div>
                    <div class="column">
                      <p class="bd-notification "> <strong>36/6, USHAS, Lane 3, Prakash Pathare Nagar Kharadi Diagonally,
                        opposite to Radisson Blu, Pune, Maharashtra 411014</strong></p>
                    </div> -->
                  <!-- </div> -->
             <!-- <p class="subtitle">Patient Name :       <strong>{{ bookingData.name }}</strong> </p>
             <p class="subtitle" > Appointment Date : <strong>{{ bookingData.appDate }} </strong></p>
             <p class="subtitle"> Time :    <strong>{{ bookingData.appTime }} </strong> To : <strong>{{ bookingData.appTimeS }}</strong> </p>
             <p class="subtitle"> Status :            <strong>Confirmed <strong> </p>
                <p class="subtitle"> Address :        <strong>36/6, USHAS, Lane 3, Prakash Pathare Nagar Kharadi Diagonally,
                    opposite to Radisson Blu, Pune, Maharashtra 411014</strong></p> -->
             </div> 
             
     
             <!-- <div class="field">
                 <div class="control">
                     <button class="button is-info" type="pr"></button>
                 </div> -->
             
                 <!-- <p class="button">
                    <button v-on:click.prevent="printData" class="button">
                        <span class="icon">
                            <i class="fas fa-print"></i>

                        </span>
                        <span>Print </span>
                     </button>
                 </p> -->
                 <footer class="footer">
                  <div class="content has-text-centered">
                    <p>
                      <strong> Address </strong> :36/6, USHAS, Lane 3, Prakash Pathare Nagar Kharadi Diagonally,
                      opposite to Radisson Blu, Pune, Maharashtra 411014 . 
                      
                    </p>
                  </div>
                </footer>
            </section>
            
            </div>
            
            <!-- <span  >{{ error }}</span>
            <form >
                <label for="names">Patient Name :</label>
                <input type="text" id="names"  >
                <br>
                <label for="date">Date :</label>
                <input type="date" id="date" v-model="bookingData.appDate">
                <br>
                <label for="start">From Time :</label>
                <input type="time" id="start" v-model="bookingData.appTime">
                <br>
                <label for="end">Til :</label>
                <input type="time" id="end" v-model="bookingData.appTimeS">
                <br>
               <button type="submit" v-on:click.prevent="nextStep" > Book</button>
            </form> -->
            
    
    <script src="index.js"></script>
</body>
</html>