.show-content{
    font-family: 'Exo', sans-serif;
    border: 2px solid skyblue;
    border-radius: 10px;
    padding:10px;
    margin: 18px;
    font-size: 20px;
    font-weight: bold;
    
}
.head{
    display: flex;
    justify-content: space-between;
}
.heading{
    font-size: 30px;
    font-weight: bold;
    
    align-self: center;
    align-items: center;
}
